# Created by Vercel CLI
# development
# the following key should be pulled directly using vercel env pull
KV_REST_API_READ_ONLY_TOKEN="xxxx"
KV_REST_API_TOKEN="yyyy"
KV_REST_API_URL="zzzz"
KV_URL="uuuu"

# these two key can be anything you want and need to create env var in vercel
# they are used to protect your api to only allow authorized access
API_SECRET_KEY="any_api_secret_key"
CLI_SECRET_KEY="any_cli_secret_key"

# gemini api key for generating the timeline
GEMINI_API_KEY=

# optional google analytics id
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID="optional_id"
